<config>
    <modules>
        <CommerceExtensions_BetterReviews>
            <version>2.0.0</version>
        </CommerceExtensions_BetterReviews>
    </modules>
    <global>
        <blocks>
            <betterreviews>
                <class>CommerceExtensions_BetterReviews_Block</class>
            </betterreviews>
            <review>
                <rewrite>
                    <helper>CommerceExtensions_BetterReviews_Block_Review_Helper</helper>
                </rewrite>
            </review>
        </blocks>
        <models>
            <betterreviews>
                <class>CommerceExtensions_BetterReviews_Model</class>
                <resourceModel>commerceextensions_betterreviews_resource</resourceModel>
            </betterreviews>
            <commerceextensions_betterreviews_resource>
                <class>CommerceExtensions_BetterReviews_Model_Resource</class>
            </commerceextensions_betterreviews_resource>
            <rating_resource>
                <rewrite>
                    <rating_collection>CommerceExtensions_BetterReviews_Model_Resource_Rating_Collection</rating_collection>
                </rewrite>
            </rating_resource>
            <review_resource>
                <rewrite>
                    <review>CommerceExtensions_BetterReviews_Model_Resource_Review</review>
                    <review_collection>CommerceExtensions_BetterReviews_Model_Resource_Review_Collection</review_collection>
                    <review_summary>CommerceExtensions_BetterReviews_Model_Resource_Review_Summary</review_summary>
                </rewrite>
            </review_resource>
        </models>
        <helpers>
            <betterreviews>
                <class>CommerceExtensions_BetterReviews_Helper</class>
            </betterreviews>
        </helpers>
        <resources>
            <betterreviews_setup>
                <setup>
                    <module>CommerceExtensions_BetterReviews</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </betterreviews_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <betterreviews>
                    <file>commerceextensions/betterreviews.xml</file>
                </betterreviews>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <set_template_and_data>
                        <class>betterreviews/review_list_observer</class>
                        <method>setTemplateAndData</method>
                    </set_template_and_data>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_layout_load_before>
                <observers>
                    <add_handle>
                        <class>betterreviews/catalog_product_view_observer</class>
                        <method>addHandle</method>
                    </add_handle>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_predispatch_review_product_list>
                <observers>
                    <redirect_to_product>
                        <class>betterreviews/review_list_observer</class>
                        <method>redirectToProductPage</method>
                    </redirect_to_product>
                </observers>
            </controller_action_predispatch_review_product_list>
            <core_block_abstract_to_html_after>
                <observers>
                    <update_toolbar_text>
                        <class>betterreviews/review_list_observer</class>
                        <method>updateToolbarText</method>
                    </update_toolbar_text>
                </observers>
            </core_block_abstract_to_html_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <set_detailed_rating_template>
                        <class>betterreviews/review_list_observer</class>
                        <method>setDetailedRatingTemplate</method>
                    </set_detailed_rating_template>
                </observers>
            </core_block_abstract_to_html_before>
            <catalog_block_product_list_collection>
                <observers>
                    <add_rating_summary>
                        <class>betterreviews/catalog_product_list_collection_observer</class>
                        <method>addRatingSummary</method>
                    </add_rating_summary>
                </observers>
            </catalog_block_product_list_collection>
        </events>
        <routers>
            <review>
                <args>
                    <modules>
                        <commerceextensions_betterreviews before="Mage_Review">CommerceExtensions_BetterReviews</commerceextensions_betterreviews>
                    </modules>
                </args>
            </review>
        </routers>
    </frontend>
</config>